/RichWishListAPI/RichWishList/obj
/RichWishListAPI/RichWishList/bin
/RichWishListAPI/RichWishList.Tests/obj
/RichWishListAPI/RichWishList.Tests/bin
/RichWishListAPI/RichWishList.Services/obj
/RichWishListAPI/RichWishList.Services/bin
/RichWishListAPI/RichWishList.Repository/obj
/RichWishListAPI/RichWishList.Repository/bin
